@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.about-section {
  background-color: rgb(250, 246, 233);
  position: relative;
  overflow: hidden;
  min-height: 60vh;
  display: flex;
  align-items: center;
}

.about-text-wrapper {
  width: 60%;
  line-height: 0.8;
  text-transform: uppercase;
}

.about-heading {
  font-size: 8rem;
  line-height: 1;
  width: 100%;
  word-break: break-word;
}

.upcoming-section {
  min-height: 70vh;
  color: rgb(250, 246, 233);
  display: flex;
}

.upcoming-inner {
  width: 100%;
  padding: 20px 130px;
  display: flex;
  align-items: center;
  min-height: 600px;
  overflow: hidden;
  position: relative;
  justify-content: center;
}

.upcoming-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.upcoming-description {
  font-size: 250%;
  text-transform: uppercase;
}

.btn-book {
  padding: 10px 50px;
  background: none;
  border: 1px solid white;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  letter-spacing: 1px;
}

.extra-text {
  font-family: Backslash;
}

@media screen and (max-width: 1127px) {
  .about-text-wrapper {
    width: 100% !important;
  }

  .upcoming-description {
    font-size: clamp(1.5rem, 5vw, 3.5rem);
    text-align: center;
    line-height: 1.2;
  }

  .upcoming-inner {
    min-height: 600px !important;
    text-align: center;
    padding: 0 20px;
  }
}
