nav {
    height: 80px;
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 30px;
}

li {
    list-style: none;
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 1px;
}