.contact-section {
  width: 100vw;
  background-color: #FAF6E9;
}

.contact-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section svg {
  width: 100%;
  max-height: 300px;
}

path {
  fill: transparent;
}

text {
  fill: #000000;
  font-size: 700%;
  font-family: "Backslash", sans-serif;
  text-transform: uppercase;
}

.contact-content {
  display: flex;
  width: 100%;
  min-height: 60vh;
  background: #393E46;
}

.contact-image {
  width: 50%;
  background-image: url(../../../public/bijlagen/IMG_7745.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-info {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.contact-box {
  width: 50%;
  height: 50%;
  padding: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-box h2 {
  font-weight: bold;
  font-size: 220%;
}

.contact-box a {
  color: white;
  text-decoration: none;
}

.contact-box-border {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.contact-box-border-alt {
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media screen and (max-width: 1000px) {
  .contact-content {
    flex-direction: column;
  }

  .contact-image {
    width: 100%;
    height: 300px;
  }

  .contact-info {
    width: 100%;
    flex-direction: column;
  }

  .contact-box {
    width: 100%;
    border: none;
  }
}
