.silk-background {
  height: 70vh;
  z-index: -1;
}

.silk-title {
  display: flex;
  flex-direction: column;
  color: black;
  gap: 20px;
  line-height: 0;
  z-index: 99999;
  padding: 40px 0 80px;
}

.silk-p {
  font-size: 150%;
  letter-spacing: 14px;
  text-transform: uppercase;
}