@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

@font-face {
  font-family: "Backslash";
  src: url("./assets/Gazpacho-Font/Gazpacho-Italic-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.hero-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  padding: 3rem;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-main {
  font-size: 1900%;
  text-transform: uppercase;
  margin: 2rem 0 0;
  font-weight: 900;
  font-family: "Bebas Neue", sans-serif;
  color: rgb(225, 220, 214);
  line-height: 0.7;
}

.title-sub {
  font-size: 1100%;
  position: absolute;
  bottom: 100px;
  margin: 0;
  letter-spacing: -12px;
  font-weight: 900;
  font-family: "Backslash", sans-serif;
  color: rgb(177, 155, 155);
}

.subtitle {
  color: white;
  font-family: "Newsreader", serif;
}

.coordinates {
  font-size: 140%;
}

.img-vinyl {
  width: 70%;
  position: absolute;
  right: -35%;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  animation: spin 10s linear infinite;
  transform-origin: center;
}

.img-star {
  width: 7%;
}

.spotify-section {
  width: 100%;
  height: 950px;
  background-image: url(../public/bijlagen/IMG_7749.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2rem;
}

.spotify-embed {
  width: 40%;
  border-radius: 12px;
}

.info-block {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.lorem {
  max-width: 400px;
  font-size: 120%;
}

.button-clear {
  padding: 10px 20px;
  background: none;
}

@keyframes spin {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

@media screen and (max-width: 1064px) {
  .spotify-section {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    aspect-ratio: 16/9;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .title-main {
    font-size: 1200%;
  }

  .spotify-embed {
    width: 100%;
    height: 100px;
    position: absolute;
    padding: 0 1rem;
    top: 10px;
  }

  .img-star {
    position: absolute;
    top: 5px;
    left: 5px;
  }
 
  .spotify-section {
    min-height: 90vh;
    position: relative;
  }

  .title-sub {
    font-size: 700%;
    letter-spacing: -6px;
    bottom: 60px;
  }

  .hero-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    max-height: 90vh;
    text-align: center;
  }

  .hero-text-container {
    align-items: center;
    gap: 70px;
  }

  .title-main {
    font-size: 800%;
    line-height: 0.55;
  }

  .title-sub {
    position: static;
    font-size: 500%;
    margin-top: 1rem;
    line-height: 0;
  }

  .plan {
    font-size: 1000%;
  }

  .coordinates {
    position: absolute;
    top: 15px;
    right: 15px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 100%;
  }

  .lorem {
    font-size: 100%;
    max-width: 100%;
  }

  .info-block {
    display: flex;
  }

  .img-vinyl-wrapper {
    position: absolute;
    bottom: -55%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 100%;
    text-align: center;
  }
  
  .img-vinyl {
    position: static; 
    width: 100%;
    display: block;
    margin: 0 auto;
    animation: spin 10s linear infinite;
    transform: rotate(0deg); 
    transform-origin: center;
  }

  .hero-wrapper {
    overflow: visible;
  }
}

@media screen and (max-width: 900px) {
  .img-star {
    width: 15%;
  }

  @media screen and (max-width: 606px) {
    .spotify-section {
      background-image: url(../public/bijlagen/IMG_7748.jpeg);
    }
  }
}