*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100;
  width: 100vw;
  background-color: #393E46;
  font-family: 'MyFont', sans-serif; 
}

@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
}